/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #222; /* Fondo oscuro para un ambiente nocturno */
  color: #fff; /* Texto blanco para contraste */
}

/* Contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezado */
header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #f00; /* Rojo llamativo */
  text-shadow: 2px 2px 4px #000;
}

.tagline {
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

/* Menú */
.menu {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}


/* Pie de página */
footer {
  text-align: center;
  color: #888;
}

/* Efectos adicionales (opcional) */
/* Para un efecto de neón en los títulos */
h1, h2 {
  text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f;
  text-align: center;
}

/* Para un efecto de degradado en el fondo */
body {
  background: linear-gradient(45deg, #222, #000);
} 




/* Estilos para los productos en el menú */
.menu h3 {
  color: #ffcc00; /* Color dorado para los subtítulos */
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 5px; /* Reducir el margen inferior */
  line-height: 1.2; /* Reducir el alto de línea */
}

.product {
  margin-bottom: 5px; /* Reducir el margen inferior */
  color: #fff;
  padding: 5px; /* Reducir el padding */
  border-bottom: 1px solid #555;
  line-height: 1.2; /* Reducir el alto de línea */
}

.product h4 {
  font-size: 1.2em;
  color: #ff69b4; /* Color rosa para los nombres de los productos */
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 2px; /* Reducir el margen inferior */
  line-height: 1.1; /* Reducir el alto de línea */
}

.product .price {
  font-size: 1.1em;
  color: #00ffcc; /* Color turquesa para los precios */
  text-shadow: 1px 1px 3px #000;
  margin-top: 2px; /* Reducir el margen superior */
  margin-bottom: 5px; /* Reducir el margen inferior */
  line-height: 1.1; /* Reducir el alto de línea */
}

.product p {
  font-size: 0.9em;
  color: #ddd;
  margin-bottom: 5px; /* Reducir el margen inferior */
  line-height: 1.2; /* Reducir el alto de línea */
}

/* Efecto de brillo en los precios */
.product .price {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 15px #00ffcc;
  }
  to {
    text-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc;
  }
}
